@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Muli, sans-serif;     
    overflow: hidden;
    margin: 0;    
}
section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 90vh;    
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 7px;
    padding-right: 150px;
}

.arrow{
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh; 
    border-radius: 50px;
    color: white;
    cursor: pointer;
    margin: 10px;
    flex: 0.5;
    position: relative;
    transition: ease-in;
    transition-duration: 0.5s;
}

.panel h3{
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    transition: flex 0.7 ease-in;
}

.panel.active{
    flex:5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){       
        display: none;
    }
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-small;   
    color: rgb(107, 107, 107);
}